.ipynb_checkpoints/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*Notes.bib
*.synctex.*
.vscode
data
.DS_Store
methods.synctex(busy)
paper.synctex(busy)
**/__pycache__/
scripts/fig_scripts/spins/*.ipynb
!figures/spins/*.pdf
macro_data/*.tex
macros_from_json.tex