figures/ppd_ns_mass.pdf filter=lfs diff=lfs merge=lfs -text
figures/*.pdf filter=lfs diff=lfs merge=lfs -text
figures/redshift_powerlaw.pdf filter=lfs diff=lfs merge=lfs -text
figures/redshift_bs_vs_powerlaw.pdf filter=lfs diff=lfs merge=lfs -text
figures/mass/*.pdf filter=lfs diff=lfs merge=lfs -text
figures/bgp_chieff_m.pdf filter=lfs diff=lfs merge=lfs -text
figures/*.png filter=lfs diff=lfs merge=lfs -text
figures/spins/*.pdf filter=lfs diff=lfs merge=lfs -text
figures/mass_ratio_non_parametric.pdf filter=lfs diff=lfs merge=lfs -text
figures/fig_primary_mass_default_modes.pdf filter=lfs diff=lfs merge=lfs -text
figures/fig_primary_mass_default_comparison.pdf filter=lfs diff=lfs merge=lfs -text
figures/mass_ratio_default.pdf filter=lfs diff=lfs merge=lfs -text
figures/primary_mass_default.pdf filter=lfs diff=lfs merge=lfs -text
figures/primary_mass_non_parametric.pdf filter=lfs diff=lfs merge=lfs -text
figures/copula_posteriors.pdf filter=lfs diff=lfs merge=lfs -text
figures/mass_spin_correlation_vamana.pdf filter=lfs diff=lfs merge=lfs -text
figures/pdb_lowgap_rates.pdf filter=lfs diff=lfs merge=lfs -text
figures/q_chi_eff_ppd.pdf filter=lfs diff=lfs merge=lfs -text
figures/correlation_spline_z_chi_eff.pdf filter=lfs diff=lfs merge=lfs -text
figures/fig_mass_ratio_peak.pdf filter=lfs diff=lfs merge=lfs -text
figures/full_mass_spectrum_fullrange.pdf filter=lfs diff=lfs merge=lfs -text
figures/full_mass_spectrum_lowgap.pdf filter=lfs diff=lfs merge=lfs -text
figures/fig_peak_param_hist.pdf filter=lfs diff=lfs merge=lfs -text
figures/fig_primary_mass_appendix.pdf filter=lfs diff=lfs merge=lfs -text
figures/full_mass_spectrum_2d_ppd.pdf filter=lfs diff=lfs merge=lfs -text
figures/mass_spin_correlated_bgp_chi_eff.pdf filter=lfs diff=lfs merge=lfs -text
figures/O4a_vs_other_blob_comparison.pdf filter=lfs diff=lfs merge=lfs -text
figures/primary_mass_gwtc3_vs_gwtc4.pdf filter=lfs diff=lfs merge=lfs -text
figures/bspline_cartoon.pdf filter=lfs diff=lfs merge=lfs -text
figures/correlation_spline_q_chi_eff.pdf filter=lfs diff=lfs merge=lfs -text
figures/mass_redshift_correlated_bgp.pdf filter=lfs diff=lfs merge=lfs -text
figures/mass_spin_correlated_bgp_mass.pdf filter=lfs diff=lfs merge=lfs -text
figures/pdb_lowgap_corner.pdf filter=lfs diff=lfs merge=lfs -text
